body {
  background-image: url("img/mainpage-picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Merienda", cursive;
  padding: 0;
  margin: 0;
}

header {
  height: 11vh;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  font-size: 40px;
}

header h1, header a, header span {
  color: white;
}

header:hover, .lock-header {
  transition: background-color 1s;
  opacity: 70%;
  background-color: white;
}

.lock-header h1, .lock-header a, .lock-header span {
  color: black;
}

header:hover h1, header:hover a, header:hover span{
  color: black;
}

header, #header-left, #header-right, #search section {
  display: flex;
  align-items: center;
}

header, #search section {
  align-items: center;
}

#header-left, #header-right {
  gap: 10px;
}

#header-left {
  margin-left: 20px;
}

#header-right {
  margin-right: 20px;
}

#header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header-left > p {
  margin-right: 10px;
}

#header-right > a {
  margin-left: 10px;
  text-decoration: none;
}

#search img {
  width: 20px;
  height: 20px;
}

#search section {
  gap: 5px;
}


#search-part{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

#search-part h2{
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  font-family: "IM Fell English SC", serif;
  text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

::placeholder{
  padding-top: 10px;

}

#textarea {
  width: 60%;
  height: 37px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  font-family: "Merienda", cursive;
}

.change {
  cursor: pointer;
  display: none;
  font-family: "Merienda", cursive;
}

#sidebar {
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,0.16);
  transition: 0.3s;
  z-index: 1000;

}



.sidebar2 ul {
  list-style-type: none;
  padding: 30px 40px ;
  margin-bottom: 0;
}

.sidebar2 ul li a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar2 ul li a:hover {
  background-color: #e0e0e0;
}

#type1sidebar, #type2sidebar, #type3sidebar{
  display: none;
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,0.16);
  transition: 0.3s;
  z-index: 999;

}
#type1sidebar ul, #type2sidebar ul, #type3sidebar ul{
  margin-top: 25%;
}



#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1, 1, 1);
  opacity: 85%;
  z-index: 200;
  pointer-events: none;
}

#close{
  padding-top: 30px;
  padding-left: 50px;
  margin: 0;
  font-size: 20px;
}

#close:hover{
  cursor: pointer;
}

#menu span{
  font-size: 22px;
  cursor: pointer;
}


#displaywatch{
  width: 100%;
  height: 80vh;
}

#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  border-radius: 1%;

}

.box{
  width: 30%;
  background-color: black;
  border: 1px solid black;
  border-radius: 3%;
  font-family: "Merienda",serif;
  text-align: center;
}

.box h3, .box p{
  color: white;
}

img{
  width: 100%;
  border-radius: 2%;
}
.box p:hover{
  text-decoration: underline;
}