body {
  padding: 0;
  margin: 0;
  font-family: "Merienda", cursive;
}

header {
  height: 11vh;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*ADDED*/
  border-bottom: 1px darkgray solid;
}

header h1 {
  font-size: 40px;
}

header h1, header p, .white-color, header span {
  color: black;
}

header:hover, .lock-header {
  transition: background-color 1s;
  opacity: 70%;
}

header:hover, .lock-header{
  background-color: white;
}

header, #header-left, #header-right, #search section {
  display: flex;
  align-items: center;
}

header, #search section {
  align-items: center;
}

#header-left, #header-right {
  gap: 10px;
}

#header-left {
  margin-left: 20px;
}

#header-right {
  margin-right: 20px;
}

#header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header-left > p {
  margin-right: 10px;
}

#header-right > p {
  margin-left: 10px;
}

/* _______________________________________________ */

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#upper-image {
  margin-top: 11vh;
  width: 100vw;
  background-color: gray;
  position: relative;
}

#upper-image > p {
  position: absolute;
  margin: 0px;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#upper-image img {
  max-width: 100%;
  max-height: 100%;
}

#shopping-cart {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#left-side {
  width: 70vw;
  background-color: rgb(236, 236, 236);
}

#product-container {
  margin-left: 8%;
  margin-right: 8%;
}

#product {
  display: flex;
  justify-content: space-between;
}

#product img {
  width: 208px;
  height: 208px;
}

#product #description {
  display: flex;
  flex-direction: column;
}

#product #description #remove {
  display: flex;
  text-decoration: underline;
  gap: 10px;
}

#product #cost {
  display: flex;
  flex-direction: column;
}

#right-side {
  width: 30vw;
  display: flex;
  justify-content: center;
  border: 1px gray solid;
}

#receipt-container {
  width: 50%;
}

#order-summary {
  text-align: center;
}

#order-summary h2 {
  margin: 0;
}

#order-summary p {
  margin: 10px;
}

.receipt {
  display: flex;
  justify-content: space-between;
}

#checkout button {
  width: 100%;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  font-family: "Merienda", cursive;
}