body, #add-to-cart button {
  font-family: "Merienda", cursive;
}

body, #image-number hr {
  padding: 0;
}

body, #image-number hr, #close {
  margin: 0;
}

header {
  height: 11vh;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkgray;
}

header, #number-and-wishlist {
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h1, header a, header span {
  color: white;
}

header:hover, .lock-header {
  transition: background-color 1s;
  opacity: 70%;
}

header:hover, .lock-header {
  background-color: black;
}

header, #header-left, #header-right, #search section {
  display: flex;
  align-items: center;
}

header, #search section {
  align-items: center;
}

#header-left, #header-right {
  gap: 10px;
}

#header-left {
  margin-left: 20px;
}

#header-right {
  margin-right: 20px;
}

#header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header-left > p {
  margin-right: 10px;
}

#header-right > a {
  margin-left: 10px;
  text-decoration: none;
}

.change {
  cursor: pointer;
  display: none;
  font-family: 'Yeon Sung', cursive;
}

#sidebar {
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px, 0, 6px, rgba(0,0,0,0.16);
  transition: 0.3s;
  z-index: 1000;
}

.sidebar2 ul {
  list-style-type: none;
  padding: 30px 40px ;
  margin-bottom: 0;
}

.sidebar2 ul li a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar2 ul li a:hover {
  background-color: #e0e0e0;
}

#type1sidebar, #type2sidebar, #type3sidebar {
  display: none;
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px, 0, 6px, rgba(0,0,0,0.16);
  transition: 0.3s;
  z-index: 999;
}

#type1sidebar ul, #type2sidebar ul, #type3sidebar ul {
  margin-top: 25%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1, 1, 1);
  opacity: 85%;
  z-index: 200;
  pointer-events: none;
}

#close {
  padding-top: 30px;
  padding-left: 50px;
  font-size: 20px;
}

#close:hover {
  cursor: pointer;
}

#menu span {
  font-size: 22px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* _______ SEPERATING HEADER*/

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#upper-side {
  width: 100vw;
  display: flex;
  position: relative;
}

#left-arrow {
  position: absolute;
  font-size: 50px;
  left: 1.4%;
  top: 44.5%;
}

#image-number {
  position: absolute;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  top: 95%;
}

#image-number hr {
  width: 15%;
}

.to-black-border {
  border: 1px black solid;
}

.to-white-border {
  border: 1px white solid;
}

#right-arrow {
  position: absolute;
  font-size: 50px;
  top: 44.5%;
  left: 45%;
}

#img-container {
  margin-top: 11vh;
  background-color: lightgray;
  width: 50vw;
  display: flex;
}

#img-container img {
  width: 50vw;
  top: 11vh;
  justify-content: center;
  align-items: center;
}

#right-side {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#product-container {
  position: absolute;
  width: 50%;
}

#add-message {
  position: absolute;
  width: 50%;
  top: 58%;
  text-align: center;
  font-size: 15px;
}

#number-and-wishlist {
  display: flex;
}

#add-to-cart button {
  width: 100%;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
}

#product-details {
  margin-top: 80px;
}

#down-side {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#down-side h2 {
  margin-top: 27vh;
  margin-bottom: 10vh;
}

#recommendation-list {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.watch-box {
  height: 246px;
  width: 246px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-box img {
  width: 196px;
  height: 196px;
}