body {
  padding: 0;
  margin: 0;
  font-family: "Merienda", cursive;
  width: 100%;
  background-color: #f9f9f9;
}

header {
  height: 11vh;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgray;
}

header, #number-and-wishlist {
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
}

header h1 a {
  text-decoration: none;
}

header h1, header a, header span {
  color: black;
}

header:hover, .lock-header {
  transition: background-color 1s;
  opacity: 70%;
  background-color: black;

  h1, a, span {
    color: white;
  }
}

header, #header-left, #header-right, #search section {
  display: flex;
  align-items: center;
}

header, #search section {
  align-items: center;
}

#header-left, #header-right {
  gap: 10px;
}

#header-left {
  margin-left: 20px;
}

#header-right {
  margin-right: 20px;
}

#header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header-left > p {
  margin-right: 10px;
}

#header-right > a {
  margin-left: 10px;
  text-decoration: none;
}

.change {
  cursor: pointer;
  display: none;
  font-family: 'Yeon Sung', cursive;
}

#sidebar {
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
  z-index: 1000;
}

.sidebar2 ul {
  list-style-type: none;
  padding: 30px 40px;
  margin-bottom: 0;
}

.sidebar2 ul li a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar2 ul li a:hover {
  background-color: #e0e0e0;
}

#type1sidebar, #type2sidebar, #type3sidebar {
  display: none;
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
  z-index: 999;
}

#type1sidebar ul, #type2sidebar ul, #type3sidebar ul {
  margin-top: 25%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1, 1, 1);
  opacity: 85%;
  z-index: 200;
  pointer-events: none;
}

#close {
  padding-top: 30px;
  padding-left: 50px;
  font-size: 20px;
}

#close:hover {
  cursor: pointer;
}

#menu span {
  font-size: 22px;
  cursor: pointer;
}





#whole-page{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

#info-display{
  width: 30%;
  margin-right: 5%;
  margin-top: 2%;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.receipt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 150vh;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 5%;


}
label {
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;

}

input[type="text"], select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

#submit{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  height: 50px;
  border: black 2px solid;
  transition: all 0.2s ease;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

#submit:hover {
  color: black;
  background-color: white;
}

.info{
  background-color: white;
  border-radius: 4%;
  margin-bottom: 30px;
  padding: 15px;
}

.item img{
  width: 30%;
}

h1{
  text-align: center;
  font-size: 60px;
  margin-top: 10%;
}