/*
 * Name: Jinseok Kim, Jincheng Wang
 * Date: May 28, 2024
 * Section: CSE 154
 * This is the css file for the sidebars that are attached to the menu button.
 * It is a common file for all pages.
 */

#sidebar {
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar2 ul {
  list-style-type: none;
  padding: 30px 40px;
  margin-bottom: 0;
}

.sidebar2 ul li p {
  padding: 10px 15px;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar2 ul li p:hover {
  background-color: #e0e0e0;
}

#type1sidebar, #type2sidebar, #type3sidebar {
  background-color: #f9f9f9;
  width: 300px;
  position: fixed;
  top: 0vh;
  left: -300px;
  height: 100%;
  box-shadow: 3px 0 6px, rgba(0, 0, 0, 0.16);
  transition: left 0.3s ease-in-out;
  z-index: 250;
}

#type1sidebar ul, #type2sidebar ul, #type3sidebar ul {
  margin-top: 25%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1, 1, 1);
  opacity: 85%;
  z-index: 200;
  pointer-events: none;
}

.close {
  padding-top: 30px;
  padding-left: 50px;
  margin: 0;
  font-size: 20px;
}

.close:hover {
  cursor: pointer;
}